* {
  font-family: "Barlow Condensed", sans-serif;
}
body {
  background-color: #ffef00;
}
nav {
  height: 15vh;
  padding-block: 2rem;
  padding-inline: 4rem;
}
.custom-dark {
  background-color: #333;
}
.img-logo {
  width: 20vw;
  object-fit: cover;
  height: 10vh;
}
.lr {
  display: inline-flex;
  flex-direction: row;
}
.ud {
  display: inline-flex;
  flex-direction: column;
}
.jcc {
  justify-content: center;
}
.jsb {
  justify-content: space-between;
}
.aic {
  align-items: center;
}
.td-none {
  text-decoration: none;
}
.lst-none {
  list-style-type: none;
}
.c-white {
  color: white;
}
a {
  color: white;
  text-decoration: none;
  transition: all 0.5s ease;
  font-size: 2vh;
}
a:hover {
  color: white;
  text-shadow: 0px 0px 10px white;
  transform: scale(1.1);
  border-bottom: 1px solid white;
}
.f-large {
  font-size: 2vh;
}
