* {
  font-family: "Barlow Condensed", sans-serif;
  transition: all 0.6s;
}
body {
  background-color: #ffef00;
}
nav {
  height: fit-content;
  padding-block: 1rem;
  padding-inline: 4rem;
}
.custom-dark {
  background-color: #333;
}
.img-logo {
  width: 20vw;
  object-fit: cover;
  height: 10vh;
}
.lr {
  display: inline-flex;
  flex-direction: row;
}
.ud {
  display: inline-flex;
  flex-direction: column;
}
.jcc {
  justify-content: center;
}
.jsb {
  justify-content: space-between;
}
.jsa {
  justify-content: space-around;
}
.jss {
  justify-content: start;
}
.jse {
  justify-content: space-evenly;
}
.aic {
  align-items: center;
}
.ais {
  align-items: flex-start;
}
.jce {
  justify-content: end;
}
.td-none {
  text-decoration: none;
}
.underline {
  text-decoration: underline;
}
.lst-none {
  list-style-type: none;
}
.c-white {
  color: white;
}
a {
  color: white;
  text-decoration: none;
  transition: all 0.5s ease;
  font-size: 2vh;
}
a:hover {
  color: white;
}
.nav-options li {
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, rgba(255, 255, 255, 0.3));
}
.nav-options li:hover {
  /* text-decoration: underline; */
  transform: scale(1.05);
}
.f-large {
  font-size: 2vh;
}
.f-xlarge {
  font-size: 3vh;
}
.f-xxlarge {
  font-size: 6vh;
}
.img-display {
  width: 18vw;
  height: 20vw;
  object-fit: cover;
}
.h-fit {
  height: fit-content;
}
.h-store {
  height: 87vh;
}
.h-test {
  width: 100%;
  height: 100vh;
}
.py-thick {
  padding-block-start: 3vh;
}
.py-xthick {
  padding-block-start: 6vh;
}
.g-5 {
  gap: 5vh;
}
p {
  font-size: 2vh;
}
.italic {
  font-style: italic;
}
.f-lato {
  font-family: "Lato", sans-serif;
}
.social-links {
  height: fit-content;
}

.social-links li {
  margin: 0;
  color: #333;
  font-size: 3.5vh;
}
.social-links li {
  transition: transform 0.1s;
}
.social-links li:hover {
  transform: scale(1.1);
}
.line {
  height: 2px;
  width: 200px;
  border-radius: 5px;
  background-color: white;
}
.line-top {
  height: 2px;
  width: 80%;
  border-radius: 5px;
  background-color: white;
}
.line-dark {
  height: 2px;
  width: 50%;
  border-radius: 5px;
  background-color: #333;
}
.br-200 {
  border-radius: 200px;
}
.right-angle {
  border-radius: 200px;
  padding: 0.7rem;
  border: 1px solid #333;
  background-color: #ffef00;
  color: #333;
  transition: all 0.6s;
}
.right-angle:hover {
  background-color: #333;
  color: #ffef00;
}
.img-sm {
  width: 5vw;
  height: 10vh;
  object-fit: cover;
}
.rotate {
  transform: rotate(-90deg);
}
.view-store {
  padding: 1rem;
  font-size: 3vh;
  width: 20vw;
  background-color: #ffef00;
  color: #333;
  border: 1px solid #333;
  transition: all 0.6s;
}
.view-store:hover {
  background-color: #333;
  color: #ffef00;
  text-decoration: none;
}
.td-under {
  text-decoration: underline;
}
.top h3 {
  font-size: 6vh;
}
.sign-in-module {
  display: none;
  background-color: rgba(51, 51, 51, 0.7);
  height: 100vh;
  width: 100%;
  top: 0;
  position: fixed;
}
.bg-white {
  background-color: white;
}
.bg-yellow {
  background-color: rgb(255, 239, 0);
}
.bg-grey {
  background-color: #e3e3e3;
}
.br-5 {
  border-radius: 5px;
}
.d-flex {
  display: flex;
}
label {
  font-size: 2.5vh;
}
.g-1 {
  gap: 1rem;
}
.img-round {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.special {
  transition: all 0.6s ease-in-out;
}
.special:hover {
  cursor: pointer;
  transform: scale(1.03);
  /* -webkit-box-reflect: above -12px linear-gradient(transparent, rgba(255, 239, 0, 0.7)); */
}
.footer-link {
  color: #333;
  transition: all 0.1s ease-in;
}
.footer-link:hover {
  color: #333;
  text-shadow: 0px 0px 10px #333;
}
.h-stretch {
  height: inherit;
}
.jsse {
  justify-self: end;
}
.txt-uc {
  text-transform: uppercase;
}
.g-10 {
  gap: 10rem;
}
.btn-img {
  border: none;
  background-color: #ffef00;
  border-radius: 50%;
}
.img-btn:hover {
  transform: scale(1.1);
}
.img-btn {
  width: 5vw;
  height: 5vw;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.3s;
}
.btn-cart {
  border: none;
  background-color: #ffef00;
  font-size: 5vh;
  color: #333;
  padding: 3rem;
  border-radius: 50%;
  transition: all 0.3s;
}
.btn-cart:hover {
  background-color: rgba(51, 51, 51, 0.4);
  transform: scale(1.1);
}
.btn-ctg {
  width: 10vw;
  background-color: #333;
  color: #e3e3e3;
  border: none;
  padding: 1rem;
}
.active {
  background-color: #fff;
  color: #333;
}
.alert {
  padding-inline: 1rem;
  border-radius: 5px;
}
.red {
  background-color: rgb(255, 112, 112);
  color: rgb(170, 45, 45);
  border: 1px solid rgb(170, 45, 45);
}
.success {
  background-color: rgb(110, 255, 110);
  color: green;
  border: 1px solid green;
}
.warning {
  background-color: rgb(255, 174, 53);
  color: rgb(255, 68, 0);
  border: 1px solid rgb(255, 68, 0);
}
.close-popup {
  background-color: rgba(51, 51, 51, 0);
  border: none;
  border-radius: 5px;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}
.close-popup:hover {
  background-color: rgba(51, 51, 51, 0.5);
}
